body{
    text-align: center;
    background-color: #E6E5ED;
    margin:auto 10%;
    padding: 10px 30px;
    line-height: 25px;
    border-radius: 1%;
    color;#333333;
    
}
h3{
    text-align: left;
}
.stallman{
    display: block;
    margin: auto;
    width:90%;
    border="0";
}
.timeline{
    text-align: left;
    font-family: 'Domine', sans-serif;
    
}
html{
    background-color: #9C7A71;
}
.heading{
    font-family: 'Lobster Two', cursive;
}
footer,.blog-link {
        font-family: 'Archivo', cursive;

}
